body {
  /* background: url('../img/bg_start.svg'), linear-gradient(0deg, rgba(15,80,120,1) 10%, rgba(23,146,163,1) 100%); */
background: url('../img/bg_1_whole.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-attachment: fixed;

}

.content {
  overflow: hidden;
  height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1 auto;
    padding: 1.5rem;
}

#logo {
  width: 25em;
  padding-top: 100px;
  margin: 1em;
}

#code {
  width: 20em;
  height: 3em;
  /* opacity: 90%; */
  background-color: rgba(15,80,120,1);
  text-align: center;
  margin: 2em;
  border-radius: 15px;
}

/* #code::before{
  content: "코드를 입력하세요";
  color: white;
  font-size: 2em;
} */
/* #code {
  width: 20em;
  margin: 2em;
} */
#code_input {
  width: 20em;
}
#code_button {
  width: 8em;
  padding: 1px;
  margin: 2em;
}

#info {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

}

#info img {
  float: right;
  height: 5em;
  width: 5em;
  /* height: 3em;
  weight: 3em;
  padding: 8px;
  margin: 1em;
  margin-bottom: 2em; */
  /* position: fixed; */
}

/* .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
} */
