/* body { */
/* background: url('../img/bg_start.svg'), linear-gradient(0deg, rgba(15,80,120,1) 10%, rgba(23,146,163,1) 100%); */
/* background: url('../img/bg_1_whole.png'); */
/* background-repeat: no-repeat; */
/* background-size: 100% auto; */
/* background-position: center; */
/* background-attachment: fixed; */
/* }  */
body {
  height: 100vh;
  bottom: 0;
  align-items: center;
  background: url('../img/bg_1_whole.png');
  background-position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

@font-face {
    font-family: 'NanumSquareRoundEB'; /*a name to be used later*/
    src: url('../fonts/NanumSquareRoundEB.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'NanumSquareRoundR'; /*a name to be used later*/
    src: url('../fonts/NanumSquareRoundR.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'yangjinv09_ttf'; /*a name to be used later*/
    src: url('../fonts/yangjinv09_ttf.ttf'); /*URL to font*/
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-container {
  position: fixed;
  width: calc(max(120%, 330px));
  height: calc(max(150px, 35%));
  bottom: 0px;
  right: 0px;
  left: -10px;
  z-index: -2;
}

.bg-box {
  width: 100%;
  height: 100vh;
  /* position:relative; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom fixed;
  bottom: 0px;
  /* padding-top:calc(max(400px,50%)); */
  z-index: -1;
}

.content {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 auto;
  padding: 1.5rem;
}

#logo {
  width: min(80%, 25em);
  padding-top: min(10%, 100px);
  margin: 1em;
}

.text-box {
  width: min(75%, 20em);
  height: auto;
  /* opacity: 50%; */
  background-color: rgba(15, 80, 120, 1);
  text-align: center;
  margin: 2em;
  border-radius: 15px;
  font-family: yangjinv09_ttf;
}

/* .text-box img {
  width: min(75%, 20em);
} */
#start-game-img {
  width: min(75%, 20em);
}

#code::before {
  content: "코드를 입력하세요";
  color: white;
  font-size: min(7vw, 2em);
}

/* #start-game-img::before {
  content: url('../img/gamestart.png');
} */
#code_input {
  width: min(75%, 20em);
}

.blue_button {
  width: min(20vw, 8em);
  padding: 1px;
  margin: 2em;
}

#info {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

#info img {
  float: right;
  /* height: 5em; */
  width: min(20vw, 5em);
  /* height: 3em;
  weight: 3em;
  padding: 8px;
  margin: 1em;
  margin-bottom: 2em; */
  /* position: fixed; */
}

.overlay {
  display: none;
  position: fixed;

  z-index: 1;


  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: white; */
}

.overlay-content {
  background-color: #f4f4f4;
  float: right;
  margin: 0 0 0 0;
  padding: 20px;
  width: min(100%, 25em);
  height: min(80%, 25em);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 29%, rgba(203, 243, 249, 1) 100%);
  position: relative;
}

.closeBtn {
  /* margin-left: 18em; */
  /* margin-bottom: 0.5em; */
  top:2em;
  right: 2em;
  color: #ccc;
  position: absolute;
  /* overflow: hidden; */
  /* float: right; */
  /* font-size: 30px; */
}

#closeBtn {
  float: right;
  width: 2.5em;
  height: 2.5em;
}

.closeBtn:hover, .closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.box-info {
  border-radius: 10px;
  border-color: grey;
  border-style: dashed;
  padding: 1em;
  border-width: medium;
  font-family: 'NanumSquareRoundR';
}

.str {
  font-family: 'NanumSquareRoundEB';
}

/* .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
} */
