body {
  height: 100vh;
  bottom: 0;
  align-items: center;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 32%, rgba(152,190,223,1) 84%);
  background-position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.bg-bottom {
  position: fixed;
  width: 100%;
  bottom: -5vh;
  z-index: -1;
}

.bg-middle {
  position: fixed;
  width: 100%;
  top: 10vh;
  left: 30vw;
  z-index: -3;
}

.bg-center {
  position: fixed;
  width: 3em;
  top: 10vh;
  left: 30vw;
  z-index: -2;
}

.run-fish {
  animation: fish 10s infinite;
}

@keyframes fish {
  0% {transform: translateX(50em);}
  50% {transform: translateX(0em);}
  51% {transform: scaleX(-1);}
  100% {transform: translateX(50em) scaleX(-1);}
}

.read-info {
  margin-top: min(10vw, 3em);
  text-align: center;
  font-family: yangjinv09_ttf;
  font-size: min(5vw, 1.5em);
  line-height: max(1.5vh,0.5em);
}



.next-button {
  width: min(20vw, 3em);
  padding: 1px;
  margin: 0.5em;
  cursor: pointer;
  /* margin-left: auto; */
  margin-left: min(50vw, 18em);
  filter: drop-shadow( 0.5rem 0.5rem 0.5rem rgba(0,0,0,0.5) );
}

/* used in ticket modal */
.button-loc {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

#answer {
  width: min(60vw, 20em);
  border-radius: 2em;
}

.answer-input {
  width: min(75%, 20em);
  text-align:center;
}

/* hint modal popup css */
.overlay {
  display: none;
  /* position: fixed; */

  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

}

.overlay:target {
  display: block;
}

.hint-overlay {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 29%, rgba(203, 243, 249, 1) 100%);
  position: absolute;
  bottom: 0;
  right: 0;
}

.ticket-overlay {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.danger-overlay {
  background-image: url('../img/stage6/sta-6-1.png');
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.stage-img {
  width: min(70vw, 30em);
}





.ticket-ani {
  position: absoute;
  width: 90%;
  animation-name: example;
  animation-duration: 4s;
}

.stamp-ani {
  position: absolute;
  width: 40%;
  top: 20%;
  animation-name: stamp;
  animation-duration: 4s;
}

@keyframes example {
  0% {width: 10%;}
  100% {width: 90%;}
}

@keyframes stamp {
  0% {opacity: 0;}
  90% {opacity: 0;}
  100% {opacity: 0.4;}
}
.close-btn {
  top:2vh;
  right: 3vw;
  color: #ccc;
  position: absolute;
}

#hintCloseBtn {
  float: right;
  width: 2.5em;
  height: 2.5em;
}

.close-btn:hover, .close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.box-description {
  border-radius: 10px;
  border-color: grey;
  border-style: dashed;
  padding: 1em;
  border-width: medium;
  font-family: 'NanumSquareRoundR';

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.img-top-hint {
  position: absolute;
  /* margin-botom: -10px; */
  top:  2.5em;
  /* top: 2.5em; */
  left: 2em;
  width: 8em;
}

.img-bottom-hint {
  position: absolute;
  bottom: 3em;
  right: 2em;
  width: 6em;
}

.sml-font {
  font-size: 0.8em;
  font-family: 'NanumSquareRoundR'
}

li{
    margin-top: 1.5em;
}
