body {
  height: 100vh;
  bottom: 0;
  align-items: center;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 32%, rgba(152,190,223,1) 84%);
  background-position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.bg-bottom {
  position: fixed;
  width: 130%;
  bottom: -5vh;
  z-index: -1;
}

.bg-middle {
  position: fixed;
  width: 100%;
  top: 10vh;
  left: 30vw;
  z-index: -2;
}

.read-info {
  margin-top: min(30vw, 5em);
  text-align: center;
  font-family: yangjinv09_ttf;
  font-size: min(5vw, 2em);
  line-height: max(2vh,0.5em);
}

.stage-img {
  width: min(60vw, 20em);
}
